<main class="form-signin w-100 m-auto">
  <form >
    <h1 class="h3 mb-3 fw-normal text-center"><span class="text-primary">SSH</span><span class="text-secondary">WEB</span><span class="text-success">SHELL</span></h1>
    <div class="form-floating">
      <input type="text" class="form-control" required id="usernameInput" placeholder="Nome de Usuário">
      <label for="usernameInput">Username</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" required id="passInput" placeholder="Password">
      <label for="passInput">Password</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="button" id="loginButton">Logar</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
  </form>
</main>
